.expense {
  margin-bottom: 50px;
  font-weight: bold;
}
.expense button {
  margin-left: 30px;
  cursor: pointer;
  /*font: inherit; */
  font-weight: bold;
  color: white;
  background-color: rgb(181, 35, 35);
  border: 1px solid rgb(181, 35, 35);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-bottom: 10px;
}
.amount {
  margin-left: 30px;
}
